EserciziC#/ClasseProdotto/.vs/ClasseProdotto/FileContentIndex/ab8345e4-44ff-4d28-b0f5-f498a910b7f3.vsidx
EserciziC#/ClasseProdotto/.vs/ClasseProdotto/FileContentIndex/4575de35-5dc0-4c89-8612-0f98e3dcadf0.vsidx
EserciziC#/ClasseProdotto/.vs/ClasseProdotto/FileContentIndex/35abc8d5-1143-4f26-80cd-c786511a5159.vsidx
