.my-link {
    color: blue;
}

.my-link:visited {
    color: purple;
}

.my-link:hover {
    color: red;
    font-size: 20px;
}

.my-link:active {
    color: green;
}

.my-link:focus {
    color: orange;
}